*

!/Algorithm/
!/Algorithm/**/

!/C_homework/
!/C_homework/**/

!/C++_pratice/
!/C++_pratice/**/

!/Cprimerplus/
!/Cprimerplus/**/

!/Data_Structure/
!/Data_Structure/**/

!/C_experience/
!/C_experience/**/

!/OJ/
!/OJ/**/

!/practice/
!/practice/**/

!/typical_case/
!/typical_case/**/

!LICENSE
!*.cpp
!*.c
!*.h
!*.txt
!*.doc
!*.docx
!*.md